<aside class="sidebar">

  <!-- Logo -->
  <img src="images/logo.svg" alt="Telnet"
       style="height: 60px; " />

  <!-- Main Navigation -->
  <nav class="sidebar-nav">
    <a
      *ngFor="let item of navItems"
      [routerLink]="item.route"
      routerLinkActive="nav-item--active"
      class="nav-item"
    >
      <span class="material-symbols-outlined nav-icon">{{ item.icon }}</span>
      <span class="nav-label">{{ item.label }}</span>
    </a>
  </nav>

  <!-- Bottom Navigation -->
  <div class="sidebar-bottom">
    <button class="nav-item logout-btn" (click)="logout()">
      <span class="material-symbols-outlined nav-icon">logout</span>
      <span class="nav-label">Déconnexion</span>
    </button>
  </div>

</aside>
